/* top-bar */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 16px;
gap: 741px;
isolation: isolate;

position: relative;
width: 1440px;
height: 54px;

background: #FFFFFF;
border-bottom: 1px solid #E5E7EB;


/* Frame 2147237139 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 2px;

width: 315px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Frame 2147237138 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 5px 8px 5px 0px;
gap: 10px;

width: 143px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* logo */

width: 135px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 27.89%;
right: 63.33%;
top: 21.95%;
bottom: -0.15%;

background: #000781;


/* Vector */

position: absolute;
left: 91.02%;
right: -0.02%;
top: 22.44%;
bottom: 22.36%;

background: #000782;


/* Vector */

position: absolute;
left: 48.37%;
right: 49.85%;
top: 0.15%;
bottom: 22.34%;

background: #000781;


/* Vector */

position: absolute;
left: 23.93%;
right: 74.1%;
top: 0.15%;
bottom: 87.69%;

background: #000781;


/* Vector */

position: absolute;
left: 52.23%;
right: 45.81%;
top: 0.15%;
bottom: 87.72%;

background: #000781;


/* Vector */

position: absolute;
left: 0.02%;
right: 99.05%;
top: 2.01%;
bottom: 78.46%;

background: #E502D0;


/* Vector */

position: absolute;
left: 0.02%;
right: 99.97%;
top: 9.62%;
bottom: 90.26%;

background: #000000;


/* Vector */

position: absolute;
left: 0.02%;
right: 99.97%;
top: 13.81%;
bottom: 86.07%;

background: #000000;


/* Vector */

position: absolute;
left: 13.5%;
right: 77.96%;
top: 0.4%;
bottom: 22.11%;

background: #000782;


/* Vector */

position: absolute;
left: 65.83%;
right: 25.85%;
top: 22.52%;
bottom: 22.28%;

background: #000781;


/* Vector */

position: absolute;
left: 38.18%;
right: 53.52%;
top: 22.54%;
bottom: 22.4%;

background: #000781;


/* Vector */

position: absolute;
left: 56.35%;
right: 36.01%;
top: 22.47%;
bottom: 22.33%;

background: #000781;


/* Vector */

position: absolute;
left: 75.87%;
right: 17.85%;
top: 22.48%;
bottom: 22.31%;

background: #000781;


/* Vector */

position: absolute;
left: 83.39%;
right: 10.05%;
top: 22.46%;
bottom: 22.43%;

background: #000782;


/* Vector */

position: absolute;
left: 52.39%;
right: 45.83%;
top: 22.48%;
bottom: 22.33%;

background: #000781;


/* Vector */

position: absolute;
left: 24.06%;
right: 74.16%;
top: 22.55%;
bottom: 22.32%;

background: #000782;


/* Vector */

position: absolute;
left: 9.03%;
right: 87.3%;
top: 55.2%;
bottom: 22.21%;

background: #008CFE;


/* Vector */

position: absolute;
left: 10.11%;
right: 87.31%;
top: 0.46%;
bottom: 76.99%;

background: #851AFE;


/* Vector */

position: absolute;
left: 8.89%;
right: 89.87%;
top: 0.44%;
bottom: 76.97%;

background: #8D18FB;


/* Vector */

position: absolute;
left: 5.18%;
right: 93.68%;
top: 0.44%;
bottom: 76.95%;

background: #AD10EC;


/* Vector */

position: absolute;
left: 4.1%;
right: 94.78%;
top: 0.43%;
bottom: 76.96%;

background: #B80DE7;


/* Vector */

position: absolute;
left: 7.88%;
right: 91.08%;
top: 0.44%;
bottom: 76.96%;

background: #9616F7;


/* Vector */

position: absolute;
left: 3.2%;
right: 95.83%;
top: 0.44%;
bottom: 76.96%;

background: #C30AE2;


/* Vector */

position: absolute;
left: 6.25%;
right: 92.84%;
top: 0.45%;
bottom: 76.94%;

background: #A412F0;


/* Vector */

position: absolute;
left: 2.39%;
right: 96.73%;
top: 0.44%;
bottom: 76.96%;

background: #CC08DD;


/* Vector */

position: absolute;
left: 7.08%;
right: 92.02%;
top: 0.44%;
bottom: 76.95%;

background: #9D14F3;


/* Vector */

position: absolute;
left: 1.66%;
right: 97.56%;
top: 0.41%;
bottom: 77%;

background: #D506D9;


/* Vector */

position: absolute;
left: 8.03%;
right: 91.28%;
top: 27.77%;
bottom: 49.71%;

background: #4551FD;


/* Vector */

position: absolute;
left: 4.5%;
right: 94.46%;
top: 28.97%;
bottom: 50.85%;

background: #7922FD;


/* Vector */

position: absolute;
left: 0.93%;
right: 98.32%;
top: 0.58%;
bottom: 77.15%;

background: #DD04D5;


/* Vector */

position: absolute;
left: 9.96%;
right: 89.38%;
top: 27.86%;
bottom: 49.72%;

background: #266CFF;


/* Vector */

position: absolute;
left: 8.72%;
right: 90.62%;
top: 27.88%;
bottom: 49.71%;

background: #395AFE;


/* Vector */

position: absolute;
left: 10.62%;
right: 88.72%;
top: 27.75%;
bottom: 49.67%;

background: #1B76FF;


/* Vector */

position: absolute;
left: 5.54%;
right: 93.78%;
top: 27.71%;
bottom: 49.72%;

background: #6D2EFE;


/* Vector */

position: absolute;
left: 7.4%;
right: 91.97%;
top: 27.74%;
bottom: 49.73%;

background: #4F47FD;


/* Vector */

position: absolute;
left: 6.2%;
right: 93.19%;
top: 27.77%;
bottom: 49.71%;

background: #6336FF;


/* Vector */

position: absolute;
left: 9.38%;
right: 90.04%;
top: 27.87%;
bottom: 49.71%;

background: #3063FF;


/* Vector */

position: absolute;
left: 6.81%;
right: 92.6%;
top: 27.86%;
bottom: 49.71%;

background: #5A3FFF;


/* Vector */

position: absolute;
left: 11.28%;
right: 88.11%;
top: 28.11%;
bottom: 50%;

background: #117EFE;


/* Vector */

position: absolute;
left: 11.85%;
right: 87.32%;
top: 29.81%;
bottom: 51.53%;

background: #0786FD;


/* Vector */

position: absolute;
left: 8.57%;
right: 89.06%;
top: 27.65%;
bottom: 72.14%;

background: #124296;


/* Vector */

position: absolute;
left: 6.27%;
right: 92.56%;
top: 27.71%;
bottom: 72.15%;

background: #124296;


/* Vector */

position: absolute;
left: 11.01%;
right: 88.96%;
top: 27.76%;
bottom: 72.19%;

background: #124296;


/* Vector */

position: absolute;
left: 6.18%;
right: 93.82%;
top: 27.71%;
bottom: 72.28%;

background: #4F47FD;


/* Divider */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 34.38%;
right: 37.46%;
top: 28.12%;
bottom: 26.45%;

border: 1px solid #E5E7EB;


/* Team */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 8px;

width: 136px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 92px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Team */

width: 43px;
height: 20px;

/* Body/Body-2/Medium */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #101828;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Badge */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 2px 6px;
gap: 4px;

width: 41px;
height: 18px;

background: #F3F4F6;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Label */

width: 29px;
height: 14px;

/* Body/Body-4/Medium */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;
/* identical to box height, or 140% */
text-align: center;

color: #4A5565;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px;
gap: 8px;

width: 28px;
height: 28px;

border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group */

position: absolute;
left: 26.38%;
right: 26.39%;
top: 11.11%;
bottom: 11.1%;



/* Vector */

position: absolute;
left: 26.38%;
right: 26.39%;
top: 11.11%;
bottom: 61.1%;

background: #6A7282;


/* Vector */

position: absolute;
left: 26.38%;
right: 26.4%;
top: 61.11%;
bottom: 11.1%;

background: #6A7282;


/* Tools */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 175px;
height: 34px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 2147237143 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 133px;
height: 34px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 12px;
gap: 6px;

width: 91px;
height: 34px;

background: #FFFFFF;
border: 1px solid #D1D5DC;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Feedback */

width: 67px;
height: 20px;

/* Body/Body-2/Regular */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #101828;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 12px;
gap: 6px;

width: 34px;
height: 34px;

background: #FFFFFF;
border: 1px solid #D1D5DC;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon / Bell

notification, alert, alarm, reminder, sound, chime, ding, ping, signal, buzz
*/

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.31%;

border: 1.2px solid #6A7282;


/* Frame 7 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 3px;
gap: 10px;

width: 34px;
height: 34px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* image 11 */

width: 28px;
height: 28px;

background: url(image.png);
border-radius: 34px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 8px 4px 12px;
gap: 8px;

position: absolute;
width: 320px;
height: 34px;
left: 654.5px;
top: 10px;

background: #FFFFFF;
border: 1px solid #D1D5DC;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Icon / Search

find, lookup, explore, discover, locate, browse, inspect, navigate, seek, query
*/

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 1.2px solid #6A7282;


/* Search anything... */

width: 246px;
height: 20px;

/* Body/Body-2/Regular */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #99A1AF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 12px;
gap: 6px;

width: 20px;
height: 20px;

background: #F3F4F6;
border: 1px solid #E5E7EB;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* F */

width: 8px;
height: 16px;

/* Body/Body-3/Regular */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

color: #6A7282;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
