/* top-bar */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 16px;
gap: 741px;
isolation: isolate;

position: relative;
width: 1440px;
height: 54px;

background: #FFFFFF;
border-bottom: 1px solid #E5E7EB;
