/* sidebar */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 12px 16px;

position: relative;
width: 272px;
height: 908px;

background: #FFFFFF;
border-right: 1px solid #E5E7EB;


/* Frame 1618872453 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 248px;
height: 876px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Frame 2147234718 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 248px;
height: 626px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* elements */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 7px 10px;
gap: 4px;

width: 248px;
height: 34px;

border: 1px solid #841AFF;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 6px;

width: 228px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* drag-handle */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 18.75%;
bottom: 18.75%;

background: #8D8D8D;


/* Icon / CirclePlus

add, create, new, insert, append, attach, append, include, join, additional
*/

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 1.2px solid #841AFF;


/* Create */

width: 46px;
height: 20px;

/* Body/Body-2/Regular */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #841AFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Meta */

display: none;
width: 29px;
height: 16px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: right;

color: #8D8D8D;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* description */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 192px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* drag-handle-placeholder */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-placeholder */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* description */

width: 166px;
height: 36px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

color: #646464;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Frame 2147237147 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 248px;
height: 580px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* elements */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 7px 10px;
gap: 4px;

width: 248px;
height: 34px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 228px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* drag-handle */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 18.75%;
bottom: 18.75%;

background: #8D8D8D;


/* Icon / Home

house, residence, domicile, accommodation, dwelling, household, main, homepage
*/

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;

border: 1.2px solid #6A7282;


/* Home */

width: 200px;
height: 20px;

/* Body/Body-2/Regular */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #4A5565;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Meta */

display: none;
width: 29px;
height: 16px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: right;

color: #8D8D8D;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* description */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 192px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* drag-handle-placeholder */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-placeholder */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* description */

width: 166px;
height: 36px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

color: #646464;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Frame 2147237026 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 248px;
height: 540px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 2147237028 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 248px;
height: 132px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* elements */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px 10px;
gap: 4px;

width: 248px;
height: 24px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 228px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* drag-handle */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 18.75%;
bottom: 18.75%;

background: #8D8D8D;


/* My Programs */

width: 228px;
height: 16px;

/* Body/Body-3/Medium */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

color: #99A1AF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Meta */

display: none;
width: 29px;
height: 16px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: right;

color: #8D8D8D;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* description */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

display: none;
width: 192px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* drag-handle-placeholder */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-placeholder */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* description */

width: 168px;
height: 36px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

color: #646464;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* elements */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 7px 10px;
gap: 4px;

width: 248px;
height: 34px;

background: #F4EBFF;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 228px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* drag-handle */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 18.75%;
bottom: 18.75%;

background: #8D8D8D;


/* Icon / SquareStack

stacked squares, stacking blocks, layered shapes, shape arrangement, geometric arrangement, shape stack, levels indicator, hierarchical structure, stacked tiers, arranged shapes
*/

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 1.2px solid #841AFF;


/* Programs */

width: 200px;
height: 20px;

/* Body/Body-2/Regular */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #841AFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Meta */

display: none;
width: 29px;
height: 16px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: right;

color: #8D8D8D;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* description */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 192px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* drag-handle-placeholder */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-placeholder */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* description */

width: 166px;
height: 36px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

color: #646464;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* elements */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 7px 10px;
gap: 4px;

width: 248px;
height: 34px;

border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 228px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* drag-handle */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 18.75%;
bottom: 18.75%;

background: #8D8D8D;


/* Frame */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 6.25%;
bottom: 3.12%;



/* Vector */

position: absolute;
left: 25%;
right: 48.69%;
top: 59.38%;
bottom: 3.12%;

border: 1.2px solid #6A7282;


/* Vector */

position: absolute;
left: 28.12%;
right: 71.88%;
top: 18.75%;
bottom: 40.62%;

border: 1.2px solid #6A7282;


/* Vector */

position: absolute;
left: 87.5%;
right: 6.25%;
top: 30.22%;
bottom: 52.1%;

border: 1.2px solid #6A7282;


/* Vector */

position: absolute;
left: 6.25%;
right: 21.88%;
top: 6.25%;
bottom: 28.12%;

border: 1.2px solid #6A7282;


/* Campaigns */

width: 200px;
height: 20px;

/* Body/Body-2/Regular */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #4A5565;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Meta */

display: none;
width: 29px;
height: 16px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: right;

color: #8D8D8D;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* description */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 192px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* drag-handle-placeholder */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-placeholder */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* description */

width: 166px;
height: 36px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

color: #646464;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* elements */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 7px 10px;
gap: 4px;

width: 248px;
height: 34px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 228px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* drag-handle */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 18.75%;
bottom: 18.75%;

background: #8D8D8D;


/* Icon / ListCollapse

minimize list, collapse entries, hide list, contract list, retract list, reduce list, collapse items, condense list
*/

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 20.83%;
bottom: 20.83%;

border: 1.2px solid #6A7282;


/* Line Items */

width: 200px;
height: 20px;

/* Body/Body-2/Regular */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #4A5565;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Meta */

display: none;
width: 29px;
height: 16px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: right;

color: #8D8D8D;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* description */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 192px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* drag-handle-placeholder */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-placeholder */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* description */

width: 166px;
height: 36px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

color: #646464;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Frame 2147234718 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 248px;
height: 96px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* elements */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px 10px;
gap: 4px;

width: 248px;
height: 24px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 228px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* drag-handle */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 18.75%;
bottom: 18.75%;

background: #8D8D8D;


/* Audiences */

width: 228px;
height: 16px;

/* Body/Body-3/Medium */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

color: #99A1AF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Meta */

display: none;
width: 29px;
height: 16px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: right;

color: #8D8D8D;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* description */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

display: none;
width: 192px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* drag-handle-placeholder */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-placeholder */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* description */

width: 168px;
height: 36px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

color: #646464;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* elements */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 7px 10px;
gap: 4px;

width: 248px;
height: 34px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 228px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* drag-handle */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 18.75%;
bottom: 18.75%;

background: #8D8D8D;


/* Icon / CircleUserRound

circular profile, rounded avatar, cyclical user, orbital account, spherical person, loop member, disc customer, ring individual
*/

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 1.2px solid #6A7282;


/* Audiences */

width: 200px;
height: 20px;

/* Body/Body-2/Regular */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #4A5565;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Meta */

display: none;
width: 29px;
height: 16px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: right;

color: #8D8D8D;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* description */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 192px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* drag-handle-placeholder */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-placeholder */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* description */

width: 166px;
height: 36px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

color: #646464;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* elements */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 7px 10px;
gap: 4px;

width: 248px;
height: 34px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 228px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* drag-handle */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 18.75%;
bottom: 18.75%;

background: #8D8D8D;


/* Icon / Boxes

containers, packaging, storage, shipment, delivery, parcels, goods, items, cargo, freight
*/

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 9.73%;
bottom: 9.71%;

border: 1.2px solid #6A7282;


/* Inventory */

width: 200px;
height: 20px;

/* Body/Body-2/Regular */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #4A5565;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Meta */

display: none;
width: 29px;
height: 16px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: right;

color: #8D8D8D;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* description */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 192px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* drag-handle-placeholder */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-placeholder */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* description */

width: 166px;
height: 36px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

color: #646464;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Frame 2147237029 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 248px;
height: 96px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* elements */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px 10px;
gap: 4px;

width: 248px;
height: 24px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 228px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* drag-handle */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 18.75%;
bottom: 18.75%;

background: #8D8D8D;


/* Intelligence */

width: 228px;
height: 16px;

/* Body/Body-3/Medium */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

color: #99A1AF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Meta */

display: none;
width: 29px;
height: 16px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: right;

color: #8D8D8D;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* description */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

display: none;
width: 192px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* drag-handle-placeholder */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-placeholder */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* description */

width: 168px;
height: 36px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

color: #646464;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* elements */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 7px 10px;
gap: 4px;

width: 248px;
height: 34px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 228px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* drag-handle */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 18.75%;
bottom: 18.75%;

background: #8D8D8D;


/* Icon / Activity

action tracker, motion monitoring, exercise log, footsteps counter, movement detection, fitness data, progress tracking, workout history
*/

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 1.2px solid #6A7282;


/* My Dashboards */

width: 200px;
height: 20px;

/* Body/Body-2/Regular */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #4A5565;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Meta */

display: none;
width: 29px;
height: 16px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: right;

color: #8D8D8D;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* description */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 192px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* drag-handle-placeholder */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-placeholder */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* description */

width: 166px;
height: 36px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

color: #646464;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* elements */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 7px 10px;
gap: 4px;

width: 248px;
height: 34px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 228px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* drag-handle */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 18.75%;
bottom: 18.75%;

background: #8D8D8D;


/* Icon / Clipboard

copy, paste, transfer, duplicate, replicate, transcribe, reproduce, clone, mirror, record
*/

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 8.33%;
bottom: 8.33%;

border: 1.2px solid #6A7282;


/* My Reports */

width: 200px;
height: 20px;

/* Body/Body-2/Regular */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #4A5565;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Meta */

display: none;
width: 29px;
height: 16px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: right;

color: #8D8D8D;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* description */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 192px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* drag-handle-placeholder */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-placeholder */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* description */

width: 166px;
height: 36px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

color: #646464;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Frame 2147237027 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 248px;
height: 168px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* elements */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px 10px;
gap: 4px;

width: 248px;
height: 24px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 228px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* drag-handle */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 18.75%;
bottom: 18.75%;

background: #8D8D8D;


/* General */

width: 228px;
height: 16px;

/* Body/Body-3/Medium */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

color: #99A1AF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Meta */

display: none;
width: 29px;
height: 16px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: right;

color: #8D8D8D;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* description */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

display: none;
width: 192px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* drag-handle-placeholder */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-placeholder */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* description */

width: 168px;
height: 36px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

color: #646464;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* elements */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 7px 10px;
gap: 4px;

width: 248px;
height: 34px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 228px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* drag-handle */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 18.75%;
bottom: 18.75%;

background: #8D8D8D;


/* Icon / Navigation

directions, route, map, guiding, pathfinding, wayfinding, compass, location, positioning, explorer
*/

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 8.33%;
top: 8.33%;
bottom: 12.5%;

border: 1.2px solid #6A7282;


/* Media Planning */

width: 200px;
height: 20px;

/* Body/Body-2/Regular */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #4A5565;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Meta */

display: none;
width: 29px;
height: 16px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: right;

color: #8D8D8D;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* description */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 192px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* drag-handle-placeholder */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-placeholder */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* description */

width: 166px;
height: 36px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

color: #646464;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* elements */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 7px 10px;
gap: 4px;

width: 248px;
height: 34px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 228px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* drag-handle */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 18.75%;
bottom: 18.75%;

background: #8D8D8D;


/* Icon / Layers3

triple layer, layer group, layer cluster, stacked layers, multi-tier layers, layered structure, layer organization, layer visualization

stack, overlay, tiers, levels, depth, hierarchy, arrange, organize, structure, composition
*/

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.35%;
right: 8.26%;
top: 8.33%;
bottom: 8.34%;

border: 1.2px solid #6A7282;


/* Assets */

width: 200px;
height: 20px;

/* Body/Body-2/Regular */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #4A5565;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Meta */

display: none;
width: 29px;
height: 16px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: right;

color: #8D8D8D;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* description */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 192px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* drag-handle-placeholder */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-placeholder */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* description */

width: 166px;
height: 36px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

color: #646464;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* elements */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 7px 10px;
gap: 4px;

width: 248px;
height: 34px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 228px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* drag-handle */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 18.75%;
bottom: 18.75%;

background: #8D8D8D;


/* Icon / ShoppingBasket

cart, handbasket, shopping cart, checkout, groceries, retail, ecommerce, purchase, buy, checkout basket
*/

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 16.67%;
bottom: 16.66%;

border: 1.2px solid #6A7282;


/* Marketplace */

width: 200px;
height: 20px;

/* Body/Body-2/Regular */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #4A5565;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Meta */

display: none;
width: 29px;
height: 16px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: right;

color: #8D8D8D;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* description */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 192px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* drag-handle-placeholder */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-placeholder */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* description */

width: 166px;
height: 36px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

color: #646464;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* elements */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 7px 10px;
gap: 4px;

width: 248px;
height: 34px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 228px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* drag-handle */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 18.75%;
bottom: 18.75%;

background: #8D8D8D;


/* Icon / GitCompare

diff versions, contrast commits, code comparison, view changes, track edits, file variance, deviation icon, comparison symbol, contrast indicator, delta visualization
*/

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 1.2px solid #6A7282;


/* Integrations */

width: 200px;
height: 20px;

/* Body/Body-2/Regular */
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #4A5565;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Meta */

display: none;
width: 29px;
height: 16px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: right;

color: #8D8D8D;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* description */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 192px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* drag-handle-placeholder */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-placeholder */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* description */

width: 166px;
height: 36px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

color: #646464;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;
